{% extends "base.html" %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="hero__title accent-color"><a href="{{ url_for('admin.index') }}">Админка</a>: Пользователи</h1>
    <p class="hero__subtitle">Список всех пользователей сайта. Назад в <a href="{{ url_for('admin.index') }}">админ-панель</a>, или
    <a href="{{ url_for('admin.users_create') }}">создать пользователя</a>?</p>
{% if users %}
<div class="table-wrapper">
  <table class="table table--center">
    <thead>
      <tr>
        <th><a href="{{ url_for('admin.users', page=0, sort='id') }}">
         ID
      </a></th>
        <th><a href="{{ url_for('admin.users', page=0, sort='username') }}">
         НИКНЕЙМ
      </a></th>
        <th><a href="{{ url_for('admin.users', page=0, sort='elo') }}">
         ELO
      </a>
         <th>ПРАВА</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td><a class="row-link" href="{{ url_for('admin.users_edit', username=user.username) }}">{{user.username}}</a></td>
        <td>{{user.elo}}</td>
        <td>{{user.privileges}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="actions">
  {% if has_prev %}
    <a class="btn btn--secondary"
       href="{{ url_for('admin.users', page=current_page-1, sort=current_sort) }}">
       ← Назад
    </a>
  {% endif %}

  {% if has_next %}
    <a class="btn btn--secondary"
       href="{{ url_for('admin.users', page=current_page+1, sort=current_sort) }}">
       Вперед →
    </a>
  {% endif %}
</div>
{% else %}
<p class="hero__subtitle">Пользователей еще нет</p>
{% endif %}
{% endblock %}