{% extends "base.html" %}

{% block title %}Редактирование задачи{% endblock %}

{% block content %}
<h1 class="hero__title accent-color">АДМИНКА: РЕДАКТИРОВАТЬ ЗАДАЧУ</h1>
<form method="POST" action="{{ url_for('admin.problems_edit', name=problem.name) }}" class="form">
    <div class="form__group">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name"
               value="{{problem.name}}"
               minlength="1" maxlength="256"
               title="Название"
               class="input">
    </div>

    <div class="form__group">
        <label for="content">Звучание:</label>
        <textarea id="content" name="content" class="input" rows="6" cols="50" title="Звучание задачи">{{problem.content}}</textarea>
    </div>

    <div class="form__group">
        <label for="answer">Правильный ответ:</label>
        <input type="text" id="answer" name="answer"
               class="input" title="Права" value="{{problem.answer}}">
    </div>

    <button type="submit" class="btn btn-primary" style="margin-bottom:7px">Сохранить изменения</button>
    <button type="button" class="btn btn-secondary" style="margin-bottom:7px" onclick="confirmGenerateNew()">Создать такую же с ИИ</button>
    <button type="button" class="btn btn-secondary" onclick="confirmDelete()">Удалить</button>

    <div class="form__message">
        Назад к просмотру <a href="{{ url_for('admin.problems') }}">задач</a>.
    </div>
</form>

<form id="deleteForm" method="POST" action="{{ url_for('admin.problems_delete', name=problem.name) }}">
    <button type="submit" class="btn btn-danger" id="deleteBtn" style="display: none;">Удалить задачу</button>
</form>
<form id="generateForm" method="POST" action="{{ url_for('admin.problems_generate_new', name=problem.name) }}">
    <button type="submit" class="btn btn-danger" id="generateBtn" style="display: none;">Создать такую же задачу</button>
</form>

<script>
function confirmDelete() {
    document.getElementById('deleteBtn').click();
}

function confirmGenerateNew() {
    document.getElementById('generateBtn').click();
}
</script>

{% endblock %}