<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{title or "Nerd Fight"}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}?v={{ range(1000)|random }}">
</head>
<body>

<header class="header">
  <div class="container header__inner">
    <div class="header__logo">NERD FIGHT</div>

    <div class="header__user">
      <!-- если не авторизован -->
      <a href="#">Авторизоваться</a>

      <!-- если авторизован -->
      <!-- <span class="accent-color">username</span> -->
    </div>
  </div>
</header>

<main class="main">
  <!-- content -->
    {% block content %}{% endblock %}
</main>

</body>
</html>