<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{title or "Nerd Fight"}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}?v={{ range(1000)|random }}">
</head>
<body>

<header class="header">
  <div class="container header__inner">
    <div class="header__logo">NERD FIGHT</div>

    <div class="header__user">
      <!-- если не авторизован -->
        {% if session.user_id %}
        <a href="{{ url_for('users.user', username=session.username) }}">{{session.username}}</a>

      <!-- если авторизован -->
        {% else %}
        <a href="{{ url_for('registration.register') }}">Авторизоваться</a>
        {% endif %}
      <!-- <span class="accent-color">username</span> -->
    </div>
  </div>
</header>

<main class="main">
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="form__message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
  {% block content %}{% endblock %}
</main>

</body>
</html>