<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title or "Nerd Fight"}}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}?v={{ range(1000)|random }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">

    <style>
    @font-face {
        font-family: 'PixFont';
        src: url("{{ url_for('static', filename='fonts/font.ttf') }}") format('truetype');
    }
    </style>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>