{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero__title accent-color">NERD FIGHT</h1>
    <p class="hero__subtitle">
      Интернет ресурс для быстрой и интуитивной подготовки к олимпиадным соревнованиям по математике c <span class="accent-color">геймификацией</span>
    </p>

    <div class="actions">
      <div class="actions__item">
        <a class="btn btn--primary" href="{{ url_for('registration.signup') }}">Авторизация</a>
      </div>

      <div class="actions__item">
        <a class="btn btn--secondary" href="https://github.com/DanielBash/NerdFight">GitHub</a>
      </div>

      <div class="actions__item">
        <a class="btn btn--secondary" href="{{ url_for('problems.problems') }}">Список задач</a>
      </div>

      <div class="actions__item">
        <a class="btn btn--secondary" href="#">Лидерборд</a>
      </div>
    </div>
  </section>
{% endblock %}