{% extends "base.html" %}

{% block title %}Задача{% endblock %}

{% block content %}
<h2>Задача: {{task.name}}</h2>
<div class="task-content">
    {{ task.content | markdown }}
</div>
<form method="POST" action="{{ url_for('problems.problem_solve', name=task.name) }}" class="form">
    <div class="form__group">
        <label for="answer">Введите свой ответ:</label>
        <input type="text" id="answer" name="answer"
               value=""
               required
               title="Ответ"
               class="input">
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
    <div class="form__message"> <a href="{{ url_for('problems.problems') }}">Вернуться</a> к списку задач?
        Или хотите просмотреть <a href="{{ url_for('problems.problem_solvers', name=task.name) }}">решивших задачу</a>?
    </div>
</form>
{% endblock %}