{% extends "base.html" %}

{% block title %}Задачи{% endblock %}

{% block content %}
<h1 class="hero__title accent-color">ЗАДАЧИ</h1>
<p class="hero__subtitle">
    Вернуться на <a href="{{ url_for('main.index') }}">главную</a>?
</p>
{% if problems %}
<div class="table-wrapper">
    <table class="table table--center">
        <thead>
          <tr>
            <th><a href="{{ url_for('problems.problems', page=0 , sort='solvers_count') }}">
             КОЛ-ВО РЕШИВШИХ
          </a></th>
          </tr>
          <tr>
            <th><a href="{{ url_for('problems.problems', page=0, sort='name') }}">
             НАЗВАНИЕ
          </a></th>
          </tr>
        </thead>
    <tbody>
    {% for problem, solvers_count in problems %}
      <tr>
        <td>
        {% if solvers_count > 0 %}
            <a class="row-link" href="{{ url_for('problems.problem_solvers', name=problem.name) }}">
               {{ solvers_count }}
            </a>
        {% else %}
            <span class="no-solvers">0</span>
        {% endif %}
        </td>
      </tr>
      <tr>
        <td><a class="row-link" href="{{ url_for('problems.problem', name=problem.name) }}">{{problem.name}}</a></td>
      </tr>
    {% endfor %}
    </table>
    <div class="actions">
        {% if has_prev %}
            <a class="btn btn--secondary"
             href="{{ url_for('problems.problems', page=current_page-1, sort=current_sort) }}">
            ← Назад
            </a>
        {% endif %}

        {% if has_next %}
            <a class="btn btn--secondary"
            href="{{ url_for('problems.problems', page=current_page+1, sort=current_sort) }}">
            Вперед →
            </a>
        {% endif %}
        {% else %}
        <p class="hero__subtitle">Тут пока что ничего нет</p>
        {% endif %}
    </div>
</div>

{% endblock %}