{% extends "base.html" %}

{% block title %}Задачи{% endblock %}

{% block content %}
<h1 class="container header__inner">Nerd Fight - список задач</h1>
<div class="container">
    <h1><a href="/">Назад</a></h1>
</div>
{% if problems %}
<div class="table-wrapper">
    <table class="table table--center">
        <thead>
          <tr>
              <th><a href="{{ url_for('problems.problems', page=0, sort='id') }}">
             ID
          </a></th>
            <th><a href="{{ url_for('problems.problems', page=0, sort='name') }}">
             НАЗВАНИЕ
          </a></th>
          </tr>
        </thead>
    <tbody>
    {% for problem in problems %}
      <tr>
        <td>{{problem.id}}</td>
        <td><a class="row-link" href="{{ url_for('problems.problems', name=problem.name) }}">{{problem.name}}</a></td>
      </tr>
    {% endfor %}
    </table>
    <div class="actions">
        {% if has_prev %}
            <a class="btn btn--secondary"
             href="{{ url_for('problems.problems', page=current_page-1, sort=current_sort) }}">
            ← Назад
            </a>
        {% endif %}

        {% if has_next %}
            <a class="btn btn--secondary"
            href="{{ url_for('problems.problems', page=current_page+1, sort=current_sort) }}">
            Вперед →
            </a>
        {% endif %}
        {% else %}
        <p class="hero__subtitle">Тут пока что ничего нет</p>
        {% endif %}
    </div>
</div>

{% endblock %}