{% extends "base.html" %}

{% block title %}Пользователь{% endblock %}

{% block content %}
    <h1 class="hero__title accent-color">NERD FIGHT</h1>
    <p class="hero__subtitle">
        Статистика игрока <span class="accent-color">{{user.username}}</span>.
    </p>
    <div style="flex: 1">
        Всего игр: {{user.total_matches}} <br/>
        Побед: {{user.won_matches}} <br/>
        Поражений:{{user.total_matches - user.won_matches}} <br/>
        Процент побед: {{user.win_rate}} <br/>
        Ело: {{user.elo}}
        {% if user.privileges == 1 %}
            <br/>Администратор
        {% endif %}
    </div>
<div> {{graph_html | safe}} </div>
{% endblock %}